#entorno virtual
.dev

#archivo basura

#frontend
BackEnd/app/__pycache__/
BackEnd/app/api/v1/__pycache__/
BackEnd/app/schemas/__pycache__/
BackEnd/app/utils/__pycache__/
BackEnd/app/db/__pycache__/
BackEnd/tests/

# node modules
node_modules/
FrontEnd/package-lock.json
