<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú</title>
    <link rel="stylesheet" href="/css/menu.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="iconsRigth">
      <span class="material-symbols-rounded" id="logout"> logout </span>
    </div>
    <h1>Menú principal</h1>
    <div class="boxOptions">
      <a href="/supply" class="supply">
        <div class="boxSupply">
          <h3>Abastecimiento</h3>
          <span class="material-symbols-rounded"> forklift </span>
        </div>
      </a>
      <a href="/products" class="products">
        <div class="boxProducts">
          <h3>Carga productos</h3>
          <span class="material-symbols-rounded"> description </span>
        </div>
      </a>
      <a href="/users" class="users">
        <div class="boxUsers">
          <h3>Usuarios</h3>
          <span class="material-symbols-rounded"> manage_accounts </span>
        </div>
      </a>
    </div>
    <div class="profile">
      <span class="material-symbols-rounded"> account_circle </span>
      <div>
        <h3 class="nameProfile">Nombre de usuario</h3>
        <p class="modeProfile">Modo Administrador</p>
      </div>
    </div>
  </body>
</html>
