<!DOCTYPE html>
<html>
<head>
    <title>Tomar Pallet</title>
    <link rel="stylesheet" href="css/pallet.css">
    </head>
<body>
    <h1>Bienvenido User</h1>
    <h2>Tomar Pallet</h2>

    <p><strong>Ubicación:</strong> SE-B14-5</p>
    <p><strong>Sku:</strong> 256565</p>
    <p><strong>Descripción:</strong> 7UP-PET</p>
    <p><strong>Vencimiento:</strong> 08/08/2024</p>
    <p><strong>Estado:</strong> Pendiente</p>
    <p><strong>Código de Pallet:</strong></p>

    <div class="buttons">
        <button class="error">Error</button>
        <button class="listo">Listo</button>
    </div>

    <p class="user">Nombre de usuario</p>
    <p class="user">Modo operador</p>
</body>
</html>