<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="/css/op.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="back">
      <a href="/menu">
        <span class="material-symbols-rounded"> arrow_back </span></a
      >
    </div>
    <h1>Abastecimiento</h1>
    <div class="boxProductAdmin">
      <div class="formSupply">
        <div class="infoProducts">
          <h4>Ubicaci贸n</h4>
          <p>Ubicaci贸n</p>
        </div>
        <div class="infoProducts">
          <h4>Sku</h4>
          <p>Sku</p>
        </div>
        <div class="infoProducts">
          <h4>Descripci贸n</h4>
          <p>Descripci贸n</p>
        </div>
        <div class="infoProducts">
          <h4>Vencimiento</h4>
          <p>Vencimiento</p>
        </div>
        <div class="infoProducts">
          <h4>Estado</h4>
          <p>Estado</p>
        </div>
        <div class="infoProducts">
          <h4>Codigo Pallet</h4>
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="buttonSupply">
        <div class="error">
          <h4>Error</h4>
          <span class="material-symbols-rounded"> error </span>
        </div>
        <div class="check">
          <h4>Listo</h4>
          <span class="material-symbols-rounded"> check_circle </span>
        </div>
      </div>
    </div>
    <div class="profile">
      <span class="material-symbols-rounded"> account_circle </span>
      <div>
        <h3 class="nameProfile">Nombre de usuario</h3>
        <p class="modeProfile">Modo Administrador</p>
      </div>
    </div>
    <!-- MODAL EXITO -->
    <div class="modalExito" id="modalExito">
      <div class="close">
        <span class="material-symbols-rounded"> close </span>
        <div>
        </div>
    <div class="overlay"></div>
  </body>
</html>

