<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="/css/op.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="back">
      <a href="/menu">
        <span class="material-symbols-rounded"> arrow_back </span></a
      >
    </div>
    <h1>Abastecimiento</h1>
    <div class="boxPallets">
      <div id="get-pending-product">
        <div class="formSupply">
          <div class="inputQR">
            <input id="qr-pallet-verify" type="hidden" />
          </div>
          <div class="inputDestination">
            <input id="pallet-destination" type="hidden" value="" />
          </div>
          <div class="infoProducts">
            <h4>Ubicación</h4>
            <label for="" id="ubication-pallet"></label>
          </div>
          <div class="infoProducts">
            <h4>Sku</h4>
            <label for="" id="sku-pallet"></label>
          </div>
          <div class="infoProducts">
            <h4>Descripción</h4>
            <label for="" id="description-pallet"></label>
          </div>
          <div class="infoProducts">
            <h4>Vencimiento</h4>
            <label for="" id="due-date-pallet"></label>
          </div>
          <div class="infoProducts">
            <h4>Estado</h4>
            <label for="" id="freshness-pallet"></label>
          </div>
          <div class="infoProducts">
            <h4>Codigo Pallet</h4>
            <input type="text" id="qr-pallet" />
          </div>
        </div>
        <div class="buttonSupply">
          <div id="btn-fail" class="error" >
            <h4>Error</h4>
            <span class="material-symbols-rounded"> error </span>
          </div>
          <div id="btn-verify" class="check" >
            <h4>Listo</h4>
            <span class="material-symbols-rounded"> check_circle </span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile">
      <span class="material-symbols-rounded"> account_circle </span>
      <div>
        <h3 class="nameProfile">Nombre de usuario</h3>
        <p class="modeProfile">Modo Administrador</p>
      </div>
    </div>
    <!-- MODAL EXITO -->
    <div class="modalExito" id="modalExito">
      <div class="close">
        <span class="material-symbols-rounded"> close </span>
      </div>
      <h3>Pallet no solictado</h3>
      <h4>Este pallet no ha sido solicitado.</h4>
    </div>
    <div class="overlay" id="overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/pallets.js"></script>
  </body>
</html>
