<!DOCTYPE html>
<html>
<head>
    <title>Dejar Pallet</title>
    <link rel="stylesheet" href="css/yespallet.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenido User</h1>
            <h2>Dejar Pallet</h2>
        </header>
        <main>
            <p><strong>Ubicación:</strong> PK-A1-10</p>
            <p><strong>Confirme ubicación:</strong></p>
            <button class="listo">Listo</button>
        </main>
        <footer>
            <div class="user-info">
                <img src="user.png" alt="Usuario">
                <p>Nombre de usuario</p>
                <p>Modo operador</p>
            </div>
        </footer>
    </div>
</body>
</html>