@import url(/css/root.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-body);
}

h1 {
    margin: 0px 0px 20px 0px;
}

.login {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    width: 60%;
    height: 80%;
    margin: 20px;   
}

.imageLogin {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background-image: url(/img/imageLogin.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 50%;
}

input {
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--grey-border);
    width: 100%;
}

input:hover {
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-principal);
    width: 100%;
}

button {
    padding: 5px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--grey-border);
    width: 100%;
    background-color: var(--grey-button);
    cursor: pointer;
}

button:hover {
    background-color: var(--grey-button-hover);
}


